.notes {
  margin-top: 10px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  min-height: 0;
}
.notes aside {
  flex: 0 0 25%;
  background: var(--column-background);
  border: var(--card-background) solid 1px;
  padding: 10px;
  overflow-y: scroll;
  height: calc(90vh - 90px);
  max-height: inherit;
}
.notes aside .card {
  background: var(--card-background);
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.notes aside .card:hover {
  cursor: pointer;
}
.notes aside .card:active {
  cursor: pointer;
  opacity: 1;
  transform: none;
}
.notes aside .card .p_new {
  text-align: center;
}
.notes aside .card h3 {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.notes .separator {
  flex: 0 0 1%;
}

.notes article {
  overflow-y: auto;
  height: calc(90vh - 90px);
}
.notes article h2 {
  margin: -1px -1px 3px;
}
.notes article .note-meta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid grey;
  background: var(--column-background);
}
.smaller {
  font-size: 0.7em;
}

.fa-calendar-plus {
  padding-right: 2px;
}
