.board {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.board .card {
  background: var(--card-background);
  padding: 6px;
  margin-bottom: 6px;
  border-radius: 3px;
  width: 250px;
  cursor: grab;
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.board .card:active {
  cursor: grabbing;
  opacity: .3;
  transform: rotate(15deg);
}

.board .card.dragging {
  opacity: .3;
  transform: scale(.8);
}

.new-card {
  background: var(--card-background);
  padding: 6px;
  margin-bottom: 6px;
  border: grey solid 1px;
  border-radius: 3px;
  width: 250px;
  transform: none;
}

.column {
  padding: 6px;
  background: var(--column-background);
  border: 2px solid var(--card-background);
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  min-width: 260px;
}
.remover {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.remove-area {
  width: 180px;
  height: 180px;
  align-items: center;
  border: none;
}
.remove-area i {
  padding-top: 60px;
  font-size: 3em;
}

.column h2 {
  background: var(--card-background);
  width: 100%;
}

.column.drop {
  border: 2px dashed #FFF;
}

.column.drop article {
  pointer-events: none;
}

.datetime {
  background-color: lightgreen;
  color: black;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: smaller;
  width: max-content;
}
