.default-button {
  margin-top: 5px;
  background-color: blue;
  width: 120px;
}

.reset-button {
  margin-top: 5px;
  background-color: red;
  width: 120px;
}

.edit-button {
  background: transparent;
  width: 15px;
  margin: 0;
  padding: 0 0 0 20px;
}

.remove-button {
  background: transparent;
  width: 15px;
  margin: 0;
  padding: 0 0 0 30px;
}

.new-button {
  margin-top: 10px;
  background-color: #009900;
}
