.default-button {
  margin-top: 5px;
  background-color: blue;
  width: 120px;
}

.reset-button {
  margin-top: 5px;
  background-color: red;
  width: 120px;
}

.edit-button {
  background: transparent;
  width: 10px;
  margin-left: 3px;
}

.remove-button {
  background: transparent;
  width: 10px;
  margin-left: 5px;
}

.new-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
}
.new-button:hover {
  color: darkblue;
}
