nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: grey solid 1px;
  border-radius: 3px;
  padding: 0;
}

nav .logo {
  height: 40px;
  font-size: xx-large;
  padding-left: 20px;
}

.nav-links a {
  text-decoration: none;
  margin-left: 1.5rem;
}
.nav-links a:hover {
  text-decoration: underline;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav-icons .weather {
  height: 70px;
}

.selected-menu-item {
  text-decoration: green underline;
  font-weight: bolder;
}
.normal-menu-item {
  font-weight: normal;
}
