nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: grey solid 1px;
  border-radius: 3px;
  max-height: 100px;
}

nav ul {
  list-style: none;
  align-items: center;
}
nav ul span {
  margin: 0;
  padding: 0;
}

nav .logo {
  display: flex;
  font-size: xx-large;
}

nav ul li {
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
  vertical-align: middle;
}
nav ul li button {
  background-color: transparent;
  color: white;
  font-size: 1.2em;
}

.selected-menu-item {
  text-decoration: green wavy underline;
  font-weight: bolder;
  font-size: 1.8em;
}
.normal-menu-item {
  font-weight: normal;
}
